* {
	box-sizing: border-box;
}

body {
	padding: 16px;
	background: #EFEFEF;
	color: #666;
}

::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}

.primary {
	color: #3DBA90;
}

.hero {
	padding: 10px 20px;
	background: #FFF;
	border-radius: 6px;
	margin-bottom: 20px;
}

.container {
    display: flex;
    padding: 20px 20px 40px;
    background: #FFF;
    justify-content: space-between;
}

.form,
.preview {
    width: 46%;
}

label {
    display: block;
    width: 100%;
    color: #333;
    margin: 20px 0 4px;
    font-weight: bold;
}

small {
    display: block;
    color: #999;
    margin-bottom: 6px;
}

code {
    display: inline-block;
    background: rgba(61, 186, 144, 0.08);
    color: #3DBA90;
    font-weight: 600;
    padding: 4px;
    border-radius: 3px;
    word-break: break-all;
}

hr {
    border: #EFEFEF 1px solid;
}

input {
    letter-spacing: 1px;
    border: #DDD 2px solid;
    outline: none;
}

input:focus {
    border-color: #3DBA90;
}

input,
textarea {
	border-radius: 6px;
	resize: none;
	width: 100%;
	padding: 10px;
}

textarea {
	background: #EFEFEF;
	border: none;
}

button {
    display: block;
    background: #3DBA90;
    color: white;
    border: none;
    box-shadow: none;
	border-radius: 6px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
